body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0;
}

#container {
    position: relative;
    width: 50px;
    height: 600px;
    overflow: hidden;
}

#ball {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}
.box {
    background-color: greenyellow;
    padding: 20px;
}

